body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pet-container {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .pet-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .pet-mood {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .pet-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .pet-button:hover {
    background-color: #0056b3;
  }
  